<p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank', rel: 'nofollow noopener' %><p>

<p>Проект предназначен для создания, изменения и выполнения тестов, состоящих из вопросов и ответов</p>

<table>
  <tr>
    <td>rakastettu13<th>
    <td><%= github_url('rakastettu13', 'TestGuru') %></td>
  </tr>
  <tr>
    <td colspan = '3' align='center'><%= current_year %></td>
  </tr>
</table>
