<h1>Тесты</h1>

<table id='tests'>
  <tr>
    <th class='sort-by-title pointer'>
      Название
      <%= octicon 'arrow-up', class: 'hide' %>
      <%= octicon 'arrow-down', class: 'hide' %>
    <th>Уровень</th>
    <th>Количество вопросов</th>
  </tr>

  <%= render @tests %>
</table>
