<h1><%= @test.title %></h1>

<table>
    <%= render @questions %>

    <tr>
      <td colspan = '3'><%= link_to "Создать новый вопрос", new_test_question_path(params[:id]) %></td>
    </tr>
</table>

<p><%= link_to "Назад", tests_path %></p>
